* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  &,
  &:active,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
  display: block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style-type: none;
}
