:root {
  --btn-border-clr: #333;
  --border-radius: 8px;
  --btn-clr-primary-hover: rgb(87, 87, 61);
  --search-padding: 1.6rem;
  --primary-clr: #000;
  --secondary-clr: #fff;
  --thirdary-clr: #fbeedd;
  --m-feature: 4.8rem;
  --m-item: 2.4rem;
  --pd-inline: 3.2rem;
  --pd-inline-res: 1.6rem;
  --pd-item: 1.6rem;
  --border: 1px solid rgb(231, 229, 220);
}
