@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --btn-border-clr: #333;
  --border-radius: 8px;
  --btn-clr-primary-hover: rgb(87, 87, 61);
  --search-padding: 1.6rem;
  --primary-clr: #000;
  --secondary-clr: #fff;
  --thirdary-clr: #fbeedd;
  --m-feature: 4.8rem;
  --m-item: 2.4rem;
  --pd-inline: 3.2rem;
  --pd-inline-res: 1.6rem;
  --pd-item: 1.6rem;
  --border: 1px solid rgb(231, 229, 220);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

input {
  all: unset;
}
input:focus, input:focus-visible {
  outline: 2px solid #000;
  border-radius: 8px;
}

html {
  font-size: 62.5%;
  line-height: 1.5;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}

.search-input,
.email-input {
  font-size: inherit;
}

.base-btn {
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.base-btn:hover {
  color: var(--secondary-clr);
}

.base-banner-caption > *:not(.base-btn) {
  color: var(--secondary-clr);
}
.base-banner-caption .base-title {
  text-transform: capitalize;
  font-size: 3.2rem;
}

.base-a {
  text-decoration: underline;
}

.base-status,
.base-percent {
  color: var(--secondary-clr);
}

.base-name {
  font-size: 2.4rem;
  text-transform: capitalize;
}

.base-price-original {
  text-decoration: line-through;
}
.base-price-sale {
  font-size: 2rem;
}

main .feature-text {
  color: var(--secondary-clr);
}
main .feature-text-title {
  font-weight: 700;
}
main .feature-text-sub {
  font-size: 1.4rem;
}
main .daily-product-list .product-name {
  font-size: 4rem;
}
main .daily-product-list .product-price-original {
  text-decoration: line-through;
  font-size: 2rem;
}
main .daily-product-list .product-price-sale {
  font-size: 4rem;
}
main .daily-product-list .countdown > * {
  text-transform: capitalize;
  font-size: 2.4rem;
}
main .question .base-desc {
  text-align: center;
}

.head-title {
  font-size: 4.8rem;
}

.about h2 {
  text-align: center;
}
.about .text h3 {
  font-size: 3.2rem;
}

@media screen and (max-width: 63.9375em) {
  .email .wrapper .base-caption {
    text-align: center;
  }
}
@media screen and (max-width: 46.1875em) {
  .lookbook .base-title {
    text-align: center;
  }
}
header {
  width: 100%;
  padding: 2rem 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  position: fixed;
  background-color: var(--secondary-clr);
  z-index: 10;
  border-bottom: var(--border);
  -webkit-box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
}
header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  gap: 3rem;
}
header .navbar .logo {
  width: 15rem;
}
header .navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  gap: 2rem;
}
header .navbar .nav-list .nav {
  padding: 2rem 0;
  position: relative;
}
header .navbar .nav-list .nav > a > i {
  margin-left: 5px;
  font-weight: 700;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
header .navbar .nav-list .nav:hover > a > i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
header .navbar .nav-list .nav:hover > .subnav-list,
header .navbar .nav-list .nav:hover .nav-detail {
  display: block;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}
header .navbar .nav-list .subnav-list,
header .navbar .nav-list .nav-detail {
  display: none;
  padding: 2.4rem;
  min-width: 23rem;
  background-color: var(--secondary-clr);
  border: var(--border);
  border-radius: var(--border-radius);
  position: absolute;
}
header .navbar .nav-list .subnav-list {
  left: -1rem;
}
header .navbar .nav-list .subnav-list .subnav-tip {
  left: 2.4rem;
}
header .navbar .nav-list .nav-detail {
  left: -18rem;
}
header .navbar .nav-list .nav-detail .subnav-tip {
  left: 20rem;
}
header .navbar .nav-list .subnav,
header .navbar .nav-list .base {
  padding: calc(var(--pd-item) / 2) 0;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
header .navbar .nav-list .subnav i,
header .navbar .nav-list .base i {
  margin-right: 8px;
}
header .navbar .nav-list .subnav:hover i,
header .navbar .nav-list .base:hover i {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}
header .navbar .nav-list .subnav-tip {
  position: absolute;
  z-index: 0;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-top: 1px solid rgb(231, 229, 220);
  border-left: 1px solid rgb(231, 229, 220);
  background-color: var(--secondary-clr);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -1rem;
}
header .navbar .nav-list .main-menu-list {
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(23rem, 1fr));
  gap: var(--m-item);
}
header .navbar .nav-list .main-menu:last-child {
  position: relative;
}
header .navbar .nav-list .main-menu:last-child .image-cover {
  height: 30rem;
  overflow: hidden;
  border-radius: var(--border-radius);
}
header .navbar .nav-list .main-menu:last-child .image-cover img {
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navbar .nav-list .main-menu:last-child .base-title {
  font-size: 2.8rem;
  font-weight: normal;
}
header .navbar .nav-list .detail {
  width: 93rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .navbar .nav-list .detail .tabs {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
header .navbar .nav-list .detail .tabs > * {
  padding: calc(var(--pd-item) / 2) var(--pd-item);
}
header .navbar .nav-list .detail .tab-content-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(23rem, 1fr));
}
header .navbar .nav-list .detail .tab-content-list .tab-content:last-child {
  position: relative;
}
header .navbar .nav-list .detail .tab-content-list .tab-content:last-child .image-cover {
  height: 46rem;
  overflow: hidden;
  border-radius: var(--border-radius);
}
header .navbar .nav-list .detail .tab-content-list .tab-content:last-child .image-cover img {
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
header .navbar .nav-list .detail .tab-content-list .tab-content:last-child .base-title {
  font-size: 2.8rem;
  font-weight: normal;
}
header .navbar .search {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  border: var(--border);
  border-radius: var(--border-radius);
}
header .navbar .search .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
header .navbar .search .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  padding: 8px 12px;
  border-radius: var(--border-radius);
}
header .navbar .search .search-input {
  border: none;
  padding: var(--search-padding) 70px var(--search-padding) 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: var(--border-radius);
}
header .navbar .search .search-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  right: 0;
  margin: 8px 12px;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 88.375em) {
  .main-menu-list {
    grid-template-columns: repeat(3, minmax(23rem, 1fr)) !important;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin-top: var(--m-feature);
  padding-inline: var(--pd-inline);
  margin-bottom: var(--pd-item);
}
footer .footer-content {
  margin-bottom: var(--m-item);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
footer .footer-content-item {
  width: 100%;
  padding: calc(var(--pd-inline) / 2) 0;
}
footer .footer-content-item:not(footer .footer-content-item:first-child) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
footer .footer-content-item:not(footer .footer-content-item:first-child) > p {
  font-weight: 700;
}
footer .footer-content-item:not(footer .footer-content-item:first-child) .menu {
  margin: var(--pd-item) 0;
}
footer .footer-content-item:first-child {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
footer .footer-content-item:first-child .logo {
  display: inline-block;
  width: 20rem;
}
footer .footer-content-item:first-child > p {
  margin: 1rem 0;
}
footer .footer-content-item:first-child .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  gap: var(--pd-item);
}
footer .footer-content-item:first-child .social-list i {
  font-size: 2.4rem;
}
footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--pd-item);
}
footer .copyright .payment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  gap: calc(var(--m-item) / 3);
}

@media screen and (max-width: 63.9375em) {
  .footer-content {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
@media screen and (max-width: 46.1875em) {
  footer {
    padding-inline: var(--pd-inline-res);
  }
  footer .copyright {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    text-align: center;
  }
}
.wrapper {
  width: min(100%, 160rem);
}

.banner .wrapper {
  display: grid;
  gap: var(--m-item);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "banner-1 banner-1" "banner-2 banner-3";
}
.banner-1, .banner-2, .banner-3 {
  overflow: hidden;
  border-radius: var(--border-radius);
  position: relative;
}
.banner-1 img, .banner-2 img, .banner-3 img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-1 {
  grid-area: banner-1;
}
.banner-1 img {
  aspect-ratio: 21/9;
  padding: 0;
}
.banner-2, .banner-3 > img {
  aspect-ratio: 1/1;
  padding: 0;
}
.banner-2 {
  grid-area: banner-2;
}
.banner-3 {
  grid-area: banner-3;
}

.bundle-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--m-item);
}

.summer-product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--m-item);
}

.concern-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 35rem);
  gap: var(--m-item);
}
.concern-grid .image-cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.concern-grid .image-cover img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.concern-grid-item {
  position: relative;
}
.concern-grid-item .base-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.4rem;
  max-width: 100%;
  color: var(--secondary-clr);
}
.concern-grid-item:first-child {
  grid-column: 1/span 2;
}
.concern-grid-item:nth-child(2) {
  grid-column: 3/span 1;
}
.concern-grid-item:nth-child(3) {
  grid-column: 1/span 1;
}
.concern-grid-item:last-child {
  grid-column: 2/span 2;
}

.ingredient-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 35rem);
  gap: var(--m-item);
}
.ingredient-grid-item {
  position: relative;
}
.ingredient-grid-item:first-child {
  grid-row: 1/span 2;
}
.ingredient-grid-item:last-child {
  min-height: 17rem;
}
.ingredient-grid-item > .image-cover {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.ingredient-grid-item > .image-cover > img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.advertise-grid {
  display: grid;
  grid-template-areas: "ad-1 ad-2" "ad-3 ad-3";
  gap: var(--m-item);
}
.advertise-grid-item:first-child, .advertise-grid-item:nth-child(2) {
  max-height: 50rem;
}
.advertise-grid-item:first-child {
  grid-area: ad-1;
}
.advertise-grid-item:nth-child(2) {
  grid-area: ad-2;
}
.advertise-grid-item:last-child {
  grid-area: ad-3;
}

.about .grid-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(33rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: var(--m-item);
}
.about .grid-container .grid-item {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.about .grid-container .grid-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .grid-container .grid-item.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

@media screen and (max-width: 46.1875em) {
  .concern-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .concern-grid-item:first-child img, .concern-grid-item:last-child img {
    aspect-ratio: 16/9;
  }
  .ingredient-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .advertise-grid {
    grid-template-areas: "ad-1" "ad-2" "ad-3";
  }
  .about .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
.email .wrapper {
  background-color: var(--thirdary-clr);
  border-radius: var(--border-radius);
  padding: var(--m-feature);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  gap: var(--m-item);
}
.email .wrapper .base-caption {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.email .wrapper .subcribe {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: min(100%, 90rem);
  position: relative;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: #fff;
}
.email .wrapper .subcribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
.email .wrapper .subcribe .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  padding: 8px 12px;
  border-radius: var(--border-radius);
}
.email .wrapper .subcribe .email-input {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: var(--search-padding) 90px var(--search-padding) 40px;
  border-radius: var(--border-radius);
}
.email .wrapper .subcribe .email-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
  right: 0;
  margin: 8px 12px;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 46.1875em) {
  .email .wrapper {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    padding: var(--pd-inline-res);
  }
  .email .wrapper .base-caption {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin: 0;
  }
}
.base-btn {
  display: inline-block;
  font-weight: 700;
  padding: 8px 12px;
  border: 1px solid var(--input-border-clr);
  outline: 1px solid var(--btn-border-clr);
  border-radius: var(--border-radius);
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease, border-color 0.2s ease;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
.base-btn:hover {
  background-color: var(--btn-clr-primary-hover);
  border-color: var(--btn-clr-primary-hover);
}

.input-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #757575;
}

.math-sign {
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  transition: background-color 0.1s cubic-bezier(0.4, 0, 0.6, 1);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  width: 32px;
  height: 32px;
}
.math-sign:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.math-sign:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.math-sign i {
  font-size: 10px;
  width: 10px;
  height: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.quantity {
  width: 50px;
  height: 32px;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: text;
  border-radius: 0;
  -webkit-appearance: none;
}

.quantity-text {
  margin: 0;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  z-index: -1000;
}

i {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  position: relative;
}

.base-status,
.base-percent {
  position: absolute;
  padding: 8px 16px;
  background-color: var(--btn-clr-primary-hover);
}

.base-status {
  top: 0;
  left: 0;
  border-radius: var(--border-radius) 0 var(--border-radius) 0;
}

.base-percent {
  top: 0;
  left: calc(100% - 61.56px);
  border-radius: 0 var(--border-radius) 0 var(--border-radius);
}

@media screen and (max-width: 46.1875em) {
  .summer-product-list .base-percent {
    top: 4.8rem;
    left: 0;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
  }
}
.base-banner-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.4rem;
  max-width: 100%;
}
.base-banner-caption .base-subtitle {
  margin-bottom: 8px;
}

.base-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: var(--m-item);
  text-transform: capitalize;
}

.owl-nav {
  position: absolute;
  top: -6rem;
  right: 7rem;
}

main {
  padding-top: 12rem;
}
main > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin-top: var(--m-feature);
  padding-inline: var(--pd-inline);
}
main .benefit-bar {
  margin: 0 3.2rem;
  padding: var(--pd-item);
  background: linear-gradient(278deg, rgb(190, 136, 104) 4%, rgb(154, 148, 115) 50%, rgb(96, 95, 71) 100%);
  border-radius: var(--border-radius);
}
main .benefit-bar swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  color: var(--secondary-clr);
}
main .benefit-bar swiper-slide .benefit-icon {
  width: 5.5rem;
  height: 5.5rem;
  margin-right: 2rem;
  border: 1px solid var(--secondary-clr);
  border-radius: 50%;
  padding: 1rem;
}
main .daily {
  position: relative;
}
main .daily .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
main .daily-product {
  width: min(100%, 120rem);
}
main .daily-product-list {
  margin: 0 auto;
  width: inherit;
}
main .daily-product .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  gap: var(--pd-item);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--pd-item);
}
main .daily-product .item .img-cover {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
main .daily-product .item .img-cover img {
  -o-object-fit: cover;
     object-fit: cover;
}
main .daily-product .item .daily-product-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}
main .daily-product .item .daily-product-detail .product-rate > * {
  display: inline-block;
}
main .daily-product .item .daily-product-detail .product-cart {
  margin-block: 2rem;
}
main .daily-product .item .daily-product-detail .countdown-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--m-item);
}
main .daily-product .item .daily-product-detail .countdown-time .countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
main .lookbook {
  background: fixed border-box center/cover url("../../images/lookbook/bg_newletter.jpg") no-repeat;
  padding: 6.4rem 0;
}
main .lookbook .content {
  width: min(80%, 100rem);
  background-color: #fff;
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  gap: var(--m-item);
  overflow: hidden;
}
main .lookbook .content-text {
  margin-left: var(--m-feature);
}
main .lookbook .content-image {
  max-height: 30rem;
}
main .lookbook .content-image > img {
  height: inherit;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
main .popular .best-product-list .item {
  padding: var(--pd-item);
  border: var(--border);
  border-radius: var(--border-radius);
  position: relative;
}
main .popular .best-product-list .item .image-cover img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: var(--border-radius);
}
main .popular .best-product-list .item .item-body {
  margin-top: 1rem;
}
main .popular .best-product-list .item .item-body-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
main .bundle-grid .bundle-video {
  position: relative;
  overflow: hidden;
}
main .bundle-grid .bundle-video video {
  width: 100%;
  height: 100%;
}
main .bundle-grid .bundle-product {
  width: min(100%, 50rem);
  padding: var(--pd-item);
  border: var(--border);
  border-radius: var(--border-radius);
  position: relative;
}
main .bundle-grid .bundle-product .image-cover img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  border-radius: var(--border-radius);
}
main .bundle-grid .bundle-product .item-body {
  margin-top: 1rem;
}
main .bundle-grid .bundle-product .item-body .product-desc {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .bundle-grid .bundle-product .item-body-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
main .summer-product-list .summer-product {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
main .summer-product-list .summer-product video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .summer .item {
  padding: var(--pd-item);
  border: var(--border);
  border-radius: var(--border-radius);
  position: relative;
}
main .summer .item .image-cover {
  overflow: hidden;
}
main .summer .item .image-cover img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
main .summer .item .item-body {
  margin-top: var(--pd-item);
}
main .summer .item .item-body-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
main .type .image-cover {
  border-radius: var(--border-radius);
  overflow: hidden;
  max-height: 90rem;
}
main .type img {
  aspect-ratio: 9/16;
  -o-object-fit: cover;
     object-fit: cover;
}
main .concern .base-caption {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
main .blog-list .item {
  padding: var(--pd-item);
  border: var(--border);
  border-radius: var(--border-radius);
}
main .blog-list .item .image-cover {
  border-radius: var(--border-radius);
  overflow: hidden;
}
main .blog-list .item .image-cover img {
  -o-object-fit: cover;
     object-fit: cover;
}
main .blog-list .item-body {
  margin-top: 1rem;
}
main .blog-list .item-body-desc {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .review .item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
main .review .item .review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  padding: 3.6rem 3.6rem 4.8rem;
  border: var(--border);
  border-radius: var(--border-radius);
}
main .review .item .review-content-text {
  margin: var(--pd-item) 0;
}
main .review .item .review-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  margin: -3.6rem 0 0;
}
main .review .item .review-shop .image-cover {
  padding: 1rem;
  width: 10rem;
  overflow: hidden;
  border: var(--border);
  border-radius: 50%;
  background-color: var(--secondary-clr);
}
main .review .item .review-shop .image-cover img {
  border-radius: 50%;
  aspect-ratio: 1/1;
}
main .question {
  padding: 6.4rem 0;
  padding-inline: var(--pd-inline);
  background: center/cover fixed url("../../images/question/cosmestic.jpg") no-repeat;
}
main .question .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}
main .question .wrapper .button-wrapper {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--pd-item);
}
main .advertise-grid-item {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
main .advertise-grid-item video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .summer-product-list {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 46.1875em) {
  main > * {
    padding-inline: var(--pd-inline-res);
  }
  .benefit-bar {
    margin: 0 var(--pd-inline-res) !important;
  }
  .daily-product-list .item {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .lookbook .content {
    gap: var(--pd-item);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .lookbook .content-text {
    margin: var(--pd-inline-res) var(--pd-item) 0 !important;
    margin-top: var(--pd-inline-res);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .lookbook .content-image {
    width: 100%;
    max-height: 30rem;
    position: relative;
  }
  .lookbook .content-image > img {
    height: unset !important;
    aspect-ratio: unset !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .summer-product-list {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .summer-product-list .summer-product {
    height: 40rem;
  }
  .summer-product-list .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    gap: var(--pd-item);
  }
  .summer-product-list .item .image-cover {
    max-width: 20rem;
  }
  .summer-product-list .item-body {
    margin-top: 0 !important;
    height: min(100%, 20rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .summer-product-list .item-body-bottom {
    gap: calc(3 * var(--pd-item));
  }
  .question {
    padding-inline: var(--pd-inline-res) !important;
  }
}
.about .video {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.about .video > video {
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.about h2 {
  margin-block: var(--m-item);
  padding-inline: 2.4rem;
}

.more-list .item {
  padding: var(--pd-item);
  border: 2px solid var(--input-border-clr);
  border-radius: var(--border-radius);
}
.more-list .item .image-cover {
  border-radius: var(--border-radius);
  overflow: hidden;
}
.more-list .item .image-cover img {
  -o-object-fit: cover;
     object-fit: cover;
}
.more-list .item-body {
  margin-top: 1rem;
}
.more-list .item-body-desc {
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}