header {
  width: 100%;
  padding: 2rem 3.2rem;
  @include flex;
  position: fixed;
  background-color: var(--secondary-clr);
  z-index: 10;
  border-bottom: var(--border);
  box-shadow: 0 1px 10px 1px rgba(#000000, 0.1);

  @include tablet_and_mobile {
    padding: 2rem 1.6rem;
  }

  .navbar-pc {
    @include flex(start, center);
    gap: 3rem;

    @include tablet_and_mobile {
      display: none;
    }

    .logo {
      width: 15rem;
    }

    .nav-list {
      @include flex(space-between);
      gap: 2rem;

      .nav {
        padding: 1.6rem 0;
        position: relative;

        & > a > i {
          margin-left: 5px;
          font-weight: 700;
          transition: transform 0.5s ease;
        }

        &:hover {
          & > a > i {
            transform: rotate(-180deg);
          }

          & > .subnav-list,
          .nav-detail {
            // opacity: 1;
            display: block;
            transform: translateY(20px);
          }
        }
      }

      .subnav-list,
      .nav-detail {
        display: none;
        // opacity: 0;
        // width: 100%;
        padding: 2.4rem;
        min-width: 23rem;
        background-color: var(--secondary-clr);
        border: var(--border);
        border-radius: var(--border-radius);
        position: absolute;
      }

      .subnav-list {
        left: -1rem;

        .subnav-tip {
          left: 2.4rem;
        }
      }

      .nav-detail {
        left: -18rem;

        .subnav-tip {
          left: 20rem;
        }
      }

      .subnav,
      .base {
        padding: calc(var(--pd-item) / 2) 0;
        transition: transform 1s ease-in-out;

        & i {
          margin-right: 8px;
        }

        &:hover i {
          transform: translateX(3px);
        }
      }

      .subnav-tip {
        position: absolute;
        z-index: 0;
        overflow: hidden;
        width: 20px;
        height: 20px;
        border-top: 1px solid rgb(231, 229, 220);
        border-left: 1px solid rgb(231, 229, 220);
        background-color: var(--secondary-clr);
        transform: rotate(45deg);
        top: -1rem;
      }

      .main-menu-list {
        width: auto;
        display: grid;
        grid-template-columns: repeat(5, minmax(23rem, 1fr));
        gap: var(--m-item);
      }

      .main-menu {
        &:last-child {
          position: relative;
          .image-cover {
            height: 30rem;
            overflow: hidden;
            border-radius: var(--border-radius);

            img {
              height: inherit;
              object-fit: cover;
            }
          }

          .base-title {
            font-size: 2.8rem;
            font-weight: normal;
          }
        }
      }

      .detail {
        width: 93rem;
        display: flex;

        .tabs {
          flex-basis: 30%;

          & > * {
            padding: calc(var(--pd-item) / 2) var(--pd-item);
          }
        }

        .tab-content-list {
          display: grid;
          grid-template-columns: repeat(3, minmax(23rem, 1fr));

          .tab-content {
            &:last-child {
              position: relative;
              .image-cover {
                height: 30rem;
                overflow: hidden;
                border-radius: var(--border-radius);

                img {
                  height: inherit;
                  object-fit: cover;
                }
              }

              .base-title {
                font-size: 2.8rem;
                font-weight: normal;
              }
            }
          }
        }
      }
    }

    .search {
      width: 100%;
      flex: 1;
      position: relative;
      border: var(--border);
      border-radius: var(--border-radius);

      .search-form {
        @include flex(start);
      }

      .icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        padding: 8px 12px;
        border-radius: var(--border-radius);
      }

      .search-input {
        border: none;
        padding: var(--search-padding) 70px var(--search-padding) 40px;
        flex: 1;
        border-radius: var(--border-radius);
      }

      .search-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-75%);
        right: 0;
        margin: 8px 12px;
        border-radius: var(--border-radius);
      }
    }
  }

  .navbar-mobile {
    display: none;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "left center right";
    @include tablet_and_mobile {
      display: none;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      grid-area: left;
      justify-content: flex-start;

      .menu-trigger {
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        display: inline-block;
        overflow: visible;
        padding: 0;
        transition: all 0.5s 0s;
        margin: 0;
        flex-shrink: 0;

        & > span {
          width: 100%;
          position: absolute;
          top: 0.4rem;
          left: 0;
          height: 0.2rem;
          background: var(--primary-clr);
          &:nth-of-type(1) {
            transition: all 0.3s 0.3s, transform 0.3s 0s;
          }

          &:nth-of-type(2) {
            top: 50%;
            margin-top: -1px;
            left: 0;
            transition: all 0.3s 0.3s;
          }

          &:nth-of-type(3) {
            bottom: 0.4rem;
            top: auto;
            left: 0;
            transition: all 0.3s 0.3s, transform 0.3s 0s;
          }
        }
      }

      .search-trigger {
        font-size: 2rem;
      }
    }

    .center {
      width: 15rem;
      grid-area: center;
    }

    .right {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      grid-area: right;
      justify-content: flex-end;

      .user,
      .cart {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 88.375em) {
  .main-menu-list {
    grid-template-columns: repeat(3, minmax(23rem, 1fr)) !important;
  }
}
