// about
.about {
  .video {
    width: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;

    & > video {
      width: 100%;
      border-radius: var(--border-radius);
      overflow: hidden;
    }
  }

  & h2 {
    margin-block: var(--m-item);
    padding-inline: calc(2 * 2.4rem);
  }
}
// more
.more {
  &-list {
    .item {
      padding: var(--pd-item);
      border: var(--border);
      border-radius: var(--border-radius);

      .image-cover {
        border-radius: var(--border-radius);
        overflow: hidden;

        img {
          aspect-ratio: 4 / 3;
          object-fit: cover;
        }
      }

      &-body {
        margin-top: 1rem;

        .base-name {
          margin-bottom: 1rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &-desc {
          margin-bottom: 1rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
