.base-banner-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.4rem;
  max-width: 100%;

  & .base-subtitle {
    margin-bottom: 8px;
  }
}

.base-caption {
  @include flex(space-between, end, wrap);
  margin-bottom: var(--m-item);
  text-transform: capitalize;
}

.owl-nav {
  position: absolute;
  top: -6rem;
  right: 7rem;
}

main {
  padding-top: 12rem;
  & > * {
    @include flex;
    margin-top: var(--m-feature);
    padding-inline: var(--pd-inline);

    @include mobile {
      padding-inline: var(--pd-inline-res);
    }
  }

  .daily {
    position: relative;

    .wrapper {
      @include flex;
    }

    &-product {
      width: min(100%, 120rem);
      &-list {
        margin: 0 auto;
        width: inherit;
      }
      .item {
        @include flex(start, start);
        gap: var(--pd-item);
        border: var(--border);
        border-radius: var(--border-radius);
        padding: var(--pd-item);

        .img-cover {
          flex-basis: 40%;
          width: 100%;
          border-radius: var(--border-radius);
          overflow: hidden;

          img {
            // aspect-ratio: 1 / 1;
            object-fit: cover;
          }
        }

        .daily-product-detail {
          @include flex(start, start, wrap, column);
          flex-basis: 60%;

          .product-rate {
            & > * {
              display: inline-block;
            }
          }

          .product-cart {
            margin-block: 2rem;
          }

          .countdown-time {
            @include flex(start, center, wrap);
            gap: var(--m-item);

            .countdown {
              @include flex(center, center, no-wrap, column);
            }
          }
        }

        @include mobile {
          flex-direction: column !important;
        }
      }
    }
  }

  .lookbook {
    background: fixed border-box center / cover url("../images/lookbook/bg_newletter.jpg") no-repeat;

    padding: 6.4rem 0;

    .content {
      width: min(80%, 100rem);
      background-color: #fff;
      border-radius: var(--border-radius);
      @include flex(space-between);
      gap: var(--m-item);
      overflow: hidden;

      @include mobile {
        gap: var(--pd-item);
        flex-wrap: wrap;
      }

      &-text {
        margin-left: var(--m-feature);

        @include mobile {
          margin: var(--pd-inline-res) var(--pd-item) 0 !important;
          margin-top: var(--pd-inline-res);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex: 1;
        }
      }

      &-image {
        max-height: 30rem;

        @include mobile {
          width: 100%;
          max-height: 30rem;

          position: relative;
        }

        & > img {
          height: inherit;
          aspect-ratio: 1/1;
          object-fit: cover;

          @include mobile {
            height: unset !important;
            aspect-ratio: unset !important;
            object-fit: cover;
          }
        }
      }
    }
  }

  .popular {
    .best-product-list {
      .item {
        padding: var(--pd-item);
        border: var(--border);
        border-radius: var(--border-radius);
        position: relative;

        .image-cover {
          img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            overflow: hidden;
            border-radius: var(--border-radius);
          }
        }

        .item-body {
          margin-top: 1rem;

          &-bottom {
            @include flex(space-between, end);
          }
        }
      }
    }
  }

  .bundle {
    &-grid {
      .bundle-video {
        position: relative;
        overflow: hidden;
        border-radius: var(--border-radius);

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 16 / 9;
        }
      }

      .bundle-product {
        width: 100%;
        padding: var(--pd-item);
        border: var(--border);
        border-radius: var(--border-radius);
        position: relative;

        .image-cover {
          img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            overflow: hidden;
            border-radius: var(--border-radius);
          }
        }

        .item-body {
          margin-top: 1rem;

          .product-desc {
            margin-bottom: 1rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &-bottom {
            @include flex(space-between, end);
          }
        }
      }
    }
  }

  .summer {
    &-product-list {
      .summer-product {
        position: relative;
        border-radius: var(--border-radius);
        overflow: hidden;

        @include mobile {
          height: 40rem;
        }

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          aspect-ratio: 1 / 1;
        }
      }
    }

    .item {
      padding: var(--pd-item);
      border: var(--border);
      border-radius: var(--border-radius);
      position: relative;

      @include mobile {
        @include flex(start, start);
        gap: var(--pd-item);
      }

      .image-cover {
        overflow: hidden;
        img {
          aspect-ratio: 1 / 1;
          object-fit: cover;

          border-radius: var(--border-radius);
        }

        @include mobile {
          max-width: 20rem;
        }
      }

      &-body {
        margin-top: var(--pd-item);

        @include mobile {
          margin-top: 0 !important;
          height: min(100%, 20rem);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
        }

        &-bottom {
          @include flex(space-between, end);

          @include mobile {
            gap: calc(3 * var(--pd-item));
          }
        }
      }
    }
  }

  .concern {
    .base-caption {
      flex-direction: column;
      align-items: start;
    }
  }

  .blog {
    &-list {
      .item {
        padding: var(--pd-item);
        border: var(--border);
        border-radius: var(--border-radius);

        .image-cover {
          border-radius: var(--border-radius);
          overflow: hidden;

          img {
            aspect-ratio: 4 / 3;
            object-fit: cover;
          }
        }

        &-body {
          margin-top: 1rem;

          .base-name {
            margin-bottom: 1rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &-desc {
            margin-bottom: 1rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }

  .review {
    .item {
      text-align: center;
      @include flex(center, center, no-wrap, column);

      .review-content {
        @include flex(center, center, no-wrap, column);
        padding: 3.6rem 3.6rem 4.8rem;
        border: var(--border);
        border-radius: var(--border-radius);

        &-text {
          margin: var(--pd-item) 0;
        }
      }

      .review-shop {
        @include flex(center, center, no-wrap, column);
        margin: -3.6rem 0 0;
        .image-cover {
          padding: 1rem;
          width: 10rem;
          overflow: hidden;
          border: var(--border);
          border-radius: 50%;
          background-color: var(--secondary-clr);
          img {
            border-radius: 50%;
            aspect-ratio: 1 / 1;
          }
        }
      }
    }
  }

  .question {
    padding: 6.4rem 0;
    padding-inline: var(--pd-inline);
    background: center / cover fixed url("../images/question/cosmestic.jpg") no-repeat;

    @include mobile {
      padding-inline: var(--pd-inline-res) !important;
    }
    .wrapper {
      @include flex(center, center, no-wrap, column);

      .button-wrapper {
        margin-top: 1.6rem;
        @include flex(center, center, wrap);
        gap: var(--pd-item);
      }
    }
  }

  .advertise {
    &-grid {
      &-item {
        position: relative;
        border-radius: var(--border-radius);
        overflow: hidden;

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
